.message {
   position: relative;
   right: -70%;
   border: 1px solid red;
}

.imageAndText {

}

.imageAndText img {
   width: 48px;
   height: 48px;
}

.text {

}

.text:after {

}

.name {
}

.messageText {

}

.time {

}