.input:focus {
    outline: none;
}

.input {
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
}

.error {
    color: red;
    position: absolute;
    top: 35%;
    left: 0;
}
